<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>NodeTodo</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>NodeTodo</h1>
        <form method="POST" action="/todos">
            <input type="hidden" name="myData" value="Some Value">
            <button type="submit">This is a link</button>
        </form>  
    </body>
</html>